

.keyboard {
    left: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    width: fit-content;
    padding: 2px;
    border-radius: 4px;
    background: #3b3b3b;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard--keys {
    text-align: center;
    width: content;
    margin: 0 auto;
}

.keyboard__key {
    font-family: 'Roboto', sans-serif;
    height: 44px;
    width: 44px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard__key:active {
    background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--narrow {
    width: calc(33px);
}

.keyboard__key--wide--half {
    width: calc(55px);
}

.keyboard__key--wide {
    width: calc(66px);
}

.keyboard__key--wide--shift {
    width: calc(94px);
}

.keyboard__key--wide--enter {
    width: calc(122px);
}

.keyboard__key--extra--wide {
    width: 344px;
}

.keyboard__key--backspace {
    width: calc(105px);
}

.keyboard__key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #08ff00;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
}